.form-group-2{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}
.glyphicon-2{
    cursor: pointer;
    font-size: 4em;
    display: block;
    width: 40px;
    height: 40px;
    margin: auto;
}
    