.activeItem-0 {
    background-color: #2e6da4 !important;
    color: white !important;
}
.right-0{
    float: right !important;
}
.navbar-nav-0{
    width: 100%;
}
.drop-0{
    color: #9d9d9d;
    padding-top: 15px;
    padding-bottom: 15px;
}
.drop-0:hover{
    color: #fff;
    cursor: pointer;
}